<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid d-flex justify-content-start"">
    <a class="navbar-brand" href="#">
    <h1>yelp</h1>
      <a href="https://www.freepnglogos.com/pics/yelp-logo" title="Image from freepnglogos.com"><img src="https://www.freepnglogos.com/uploads/yelp-logo-7.jpg" width="50" alt="yelp logo" /></a>
    </a>
  </div>
</div>

<div class="container mb-5">
<h1 class="fw-bold">Restaurants</h1>
<% @restaurants.each do |restaurant| %>
<div class="card mb-3" style="max-width: 640px;">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="https://loremflickr.com/200/160/" class="img-fluid" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title"><%= restaurant.name %></h5>
        <p class="card-text"><%= restaurant.address %> | <%= restaurant.category %> | <%= restaurant.phone_number %></p>
        <p><%= link_to "See details", restaurant_path(restaurant), class: "btn btn-primary" %></p>
      </div>
    </div>
  </div>
</div>
<% end %>
</div>
