<div class="banner mb-5" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://media-cdn.tripadvisor.com/media/photo-s/15/32/44/43/flat-lay-goals.jpg);">
  <div class="container">
    <h1><%= @restaurant.name %></h1>
  </div>
</div>

<div class="container">
  <p class="card-text"><strong>Address: </strong><%= @restaurant.address %></p>
  <p class="card-text"><strong>Cuisine: </strong><%= @restaurant.category.capitalize %></p>
  <p class="card-text"><strong>Phone Number: </strong><%= @restaurant.phone_number %></p>

  <br>
  <h2>Reviews</h2>
  <% @restaurant.reviews.each do |review| %>
    <p><%= review.rating %></p>


    <p><%= review.content %></p>
    <hr>
  <% end %>

  <%= render "reviews/new_form", review: @review %>

</div>
