<div class="banner mb-5" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://media-cdn.tripadvisor.com/media/photo-s/15/32/44/43/flat-lay-goals.jpg);">
  <div class="container">
    <h1><%= @restaurant.name %></h1>
  </div>
</div>

<div class="container">
  <p class="card-text">Address: <%= @restaurant.address %></p>
  <p class="card-text">Cuisine: <%= @restaurant.category %></p>
  <p class="card-text">Phone Number: <%= @restaurant.phone_number %></p>

  <br>
  <h2>Reviews</h2>
  <% @restaurant.reviews.each do |review| %>
    <p><%= review.rating %></p>


    <p><%= review.content %></p>
    <hr>
  <% end %>

  <%= link_to 'Write a review', new_restaurant_review_path(@restaurant), class: "btn btn-primary" %>
  <%= link_to 'Back', restaurants_path, class: "btn btn-primary" %>
</div>
